* {

  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "Roboto";
  
}

.desconto {
  font-family: "Roboto";
  background-color: #1cd1b0;
  height: 38px;
  font-size: 15px;
  font-weight: 400px;
}
.titulo {
  font-size: 40px;
  background-color: #00669f;
  box-shadow: 0px, 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  height: 101px;
}
.container_card01 {
  width: 375px;
  height: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #f3f3f3;
  position: relative;
  left: 200px;
  right: 150px;
  bottom: 120px;
  margin-top: 200px;

  
}

.container_card02 {
    width: 375px;
    height: 600px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #f3f3f3;
    position: relative;
    left: 200px;
    right: 150px;
    bottom: 120px;
    margin-left: 200px;
    margin-top: 200px;
}

.container_backgroundtop {
  background-image: url(/img/background01.png);
  width: 375px;
  height: 220px;
  position: relative;
  display: flex;
}
.container_backgroundtop2 {
  background-image: url(/img/background02.png);
  width: 375px;
  height: 220px;
  position: relative;
  display: flex;
}

.container_heart {
  align-self: flex-start;
  margin: 5px 0 0 5px;
  display: inline;
}

.container_heroi {
  position:absolute;
  left: 120px;
  top: 150px;
}

.container_heroi img {
  border-radius: 50%;
}

.container_text {
  position:absolute;
  text-align: center;
  top: 320px;
}

h2 {
  font-weight: 400px;
  size: 30px;
}
p {
  padding-top: 10px;
}

.container_buttom {

  
  background-color: #00669f;
  text-align: center;
  color: white;
  display: inline-block;
  position:absolute;
  top: 525px;
  left: 135px;
  border: 15px solid #00669f;
}

.container_buttom2 {
   
    background-color: #00669f;
    text-align: center;
    color: white;
    display: inline-block;
    position:absolute;
    top: 525px;
    left: 135px;
    border: 15px solid #00669f;
}
.container_card01,
.container_card02 {
  display: inline-block;
}

footer {
  font-size: 16px;
  color: #f3f3f3;
  width: 100%;
  background-color: #00669f;
}
